{% extends 'base.html' %}

{% block content %}

<h2 class="mb-4">Избранное</h2>

{% if favorites %}
<div class="row">

    {% for fav in favorites %}
    <div class="col-md-3 mb-4">
        <div class="card h-100 shadow-sm">

            <!-- Картинка -->
            <a href="{% url 'product_detail' fav.product.pk %}">
                <img src="{{ fav.product.image.url }}" class="card-img-top"
                     style="height: 250px; object-fit: cover;">
            </a>

            <div class="card-body text-center">

                <!-- Название -->
                <h5 class="card-title">{{ fav.product.name }}</h5>

                <!-- Цена -->
                <p class="card-text fw-bold">{{ fav.product.price }} BYN</p>

                <!-- Кнопка перехода -->
                <a href="{% url 'product_detail' fav.product.pk %}" class="btn btn-outline-dark btn-sm">
                    Перейти к товару
                </a>

            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% else %}
<div class="text-center mt-5">
    <h4 class="text-muted">У вас пока нет избранных товаров</h4>
    <a href="/catalog/" class="btn btn-dark mt-3">Перейти в каталог</a>
</div>
{% endif %}

{% endblock %}
