{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
<h1>{{ product.name }}</h1>

<div class="row">
    <div class="col-4">
        <img src="{{ product.image.url }}" class="img-fluid">
    </div>

    <div class="col-8">
        <p>{{ product.description }}</p>
        <p><strong>Цена:</strong> {{ product.price }} ₽</p>
    </div>
</div>
<a href="{% url 'toggle_favorite' product.pk %}">
    {% if is_favorite %}
        ❤️ В избранном
    {% else %}
        🤍 Добавить в избранное
    {% endif %}
</a>


{% endblock %}
